
html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* THIS IS FOR THE DROP DOWN MENU*/
.navbar-default {
	border-color: transparent;
	background-color: transparent;
	padding-right: 0px;
}

@media (max-width: 1500px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin-right: 0px;
    }

    .icon-bar {
    	color: green;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

	.navbar-default .navbar-toggle {
		color: rgb(172, 213, 160);
		border-color: transparent;
	}

	.navbar-default .navbar-nav>li>a {
		text-align: right;
		padding-right: 15px;
	}
	.navbar-default .navbar-collapse {
		border: none;
	}
	

		/* link */
	.navbar-default .navbar-nav > li > a {
	    color: rgb(172, 213, 160); /* THIS IS THE DROPDOWN ICONS */
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
	    color: rgb(205, 201, 200);
	}

	.navbar-default .navbar-toggle {
	    border-color: none;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
	    background-color: transparent;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: rgb(172, 213, 160); /*THIS IS FOR THE DROPDOWN ICON*/
	}

	}

.animate{
	text-decoration: none;
	margin-top: 5px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}



html, body {
	font-family:  'Montserrat', 'Museo Sans', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-serif';
	font-weight: 100;
	height: 100%;
	
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 100px;
	color: rgb(172, 213, 160);
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	line-height: 72px;
	font-weight: 100;
	font-style: normal;
	
	height: 72px;
}

h2 {
	margin-bottom: 50px;
}

body {
padding: 0px;
background-color: #ffffff;
text-align: center;
}

div {
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0;
}

.questions-answer-block {
	font-size: 20px;
	text-align: left;
	
}

.question {
	line-height: 1.25em;
	cursor: pointer;
	transition: all 0.1s linear;
	transition-property: color;
	margin-bottom: 25px;
}

.color {
	color: rgb(172, 213, 160);
	cursor: pointer;
}

.answer {
	transition: all 0.2s linear;
	transition-property: opacity, height, margin;
	color: #929292;
	font-weight: 400;
	font-size: 13px;
	margin-bottom: 15px;
}


.hideinit {
	opacity: 0;
	height: 0px;
	overflow: hidden;
}

.display {
	display: inline-block;
	margin-bottom: 30px;
}

#filler {
	padding: 50px;
}